@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script>
    window.tryRefreshToken = async function () {
        try {
            const res = await fetch("http://localhost:8080/auth/refresh", {
                method: "POST",
                credentials: "include"
            });

            if (!res.ok) throw new Error("Refresh failed");

            const data = await res.json();
            sessionStorage.setItem("accessToken", data.accessToken);
            return true;
        } catch (err) {
            console.error("Refresh failed:", err);
            return false;
        }
    };
</script>